.nav-bar {
  text-align: center;
  background-color: aquamarine;
}

.jumbotron {
  text-align: center;
}

p {
  text-align: center;
  background-color: lightblue;
  margin: 15px 18%;
  border-radius: 10px;
  padding: 8px;
}

.content {
  margin: 15px 10%;
}

.review {
  text-align: center;
  padding: 5%;
  background-color: rgb(203, 247, 241);
}

.top-dog {
  text-align: center;
}

.form-group {
  max-width: 500px;
  margin: auto;
}

input {
  width: 200px;
  float: right;
}

textarea {
  width: 100%;
  min-height: 100px;
}

input[type="submit"] {
  margin-top: 30px;
  width: 100%;
}