.nav-bar {
  text-align: center;
  background-color: aquamarine;
}

.jumbotron {
  text-align: center;
}

p {
  text-align: center;
  background-color: lightblue;
  margin: 15px 18%;
  border-radius: 10px;
  padding: 8px;
}

.content {
  margin: 15px 10%;
}

.review {
  text-align: center;
  padding: 5%;
  background-color: rgb(203, 247, 241);
}